.scrollbar {
    overflow: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-wide::-webkit-scrollbar {
    width: 12px;
}

/* .scrollbar::-webkit-scrollbar:hover {
    width: 10px;
} */

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid #cacaca;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #d55959;
    border-radius: 10px;
}
